body {
  /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: 5%;
  writing-mode: horizontal-tb;
  padding: 10px;
  accent-color: var(--color-accent);
  --color-accent: oklch(65% 50% 0);
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  margin-bottom: 0.5em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}
a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

a:hover {
  border-bottom-color: var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

.current {
  border-bottom: 0.4em double oklch(80% 3% 200);
}

form,
label,
input,
textarea {
  font: inherit;
}
form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label,
.submit {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

img {
  max-width: 100%;
}

.projects {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

article {
  grid-row: span 3;

  display: grid;
  grid-template-rows: subgrid;
}

h1 {
  font-size: 400%;
}
h2 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  text-wrap: balance;
}

.resume {
  border: 1px solid oklch(80% 3% 200);
  border-radius: 8px;
  box-shadow: 0px 13px 25px -16px rgba(0, 0, 0, 0.6);
}

html {
  color-scheme: dark;
}

option {
  color-scheme: light dark;
  color-scheme: light;
  color-scheme: dark;
}
label {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 80%;
}
